:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-width: 320px;
  min-height: 100vh;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: lightblue;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.close-button {
  float: right;
  font-size: 0.7em;
  margin: 0;
}

ul {
  list-style-type: none;
}

ul > * {
  margin-left: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background: white
}

.navbar{
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: solid;
}

.navbar-menu {
  display: flex;
  margin-left: auto;
}

.main-layout-body {
  align-items: center;
  margin-left: 25px
}

body {
  font: 16px Arial, Verdana, Tahoma, Sans-serif;
}

.container {
  width: 1050px;
  background: #0493f2c7;
  margin: 0 auto;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper {
  margin: 8px 0;
}

.wrapper h2 {
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
}

input {
  min-width: 20px;
  padding: 8px;
  margin: 0 4px 0 0;
  border: 1px solid #666;
  border-radius: 5px;
  height: 30px;
}

.button {
  padding: 8px 16px;
  min-height: 48px;
  min-width: 10px;
  word-wrap: nowrap;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

input {
    order: 0;
    align-self: auto;  
}

.search {
  flex: 2 1 auto;
}

.date-from {
  flex: 1 1 auto;
}

.date-to {
  flex: 1 1 auto;
}

.button {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
}

.cytoscape-graph{
  border: 2px solid white;
  border-radius: 10px;
  background-color: #ffffff;
  height: 480px;
  width: 800px;
}

.search-box-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebar-align {
  display: flex;
  justify-content: center;
}

.sidebar {
  width: 250px;
  height: 480px;
  background-color: lightgrey;
  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
}

.sidebar h2, p {
  color: black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
