:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --graph-blue: #7F95D1;
  --reed-red: #A70E16;
  --graph-tan: #EDCB96;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.red-sidebar-link {
  font-weight: 500;
  text-decoration: none;
  background-color: var(--reed-red);
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
}

.blue-sidebar-link {
  font-weight: 500;
  text-decoration: none;
  background-color: var(--graph-blue);
  color: white;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
}

.tan-sidebar-link {
  font-weight: 500;
  text-decoration: none;
  background-color: var(--graph-tan);
  color: black;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid black;
}

body {
  margin: 0px;
  padding: 0px;
  border: 0px;
  min-width: 320px;
  min-height: 100vh;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-align: center;
}

button {
  border-radius: 8px;
  border: 2px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: lightblue;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  list-style-type: none;
}

ul>* {
  margin-left: 10px;
  border: 2px solid white;
  border-radius: 10px;
  background: white
}

.navbar {
  display: flex;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom: solid;
}

.navbar-menu {
  display: flex;
  margin-left: auto;
}

.main-layout-body {
  align-items: center;
  margin-left: 25px
}

body {
  font: 16px Arial, Verdana, Tahoma, Sans-serif;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.container {
  width: 1050px;
  height: 175px;
  background: var(--reed-red);
  margin: 0 auto;
  padding: 16px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.wrapper {
  margin: 8px 0;
  height: 50px;
}

.wrapper h2 {
  text-align: left;
}

.search-container {
  display: inline-block;
  position: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  margin-right: 10px;
  overflow: hidden;
  width: 100%;
}

.example {
  font-size: 15px;
  text-align: center;
  color: white;
}

.example>a {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

input {
  position: relative;
  min-width: 20px;
  min-height: 30px;
  padding: 8px;
  margin: 0;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 300px;
  order: 0;
  align-self: auto;
}

select {
  border: none;
  position: relative;
  min-width: 20px;
  min-height: 30px;
  padding: 8px;
  margin: 0;
  border-radius: 5px;
  height: 30px;
  width: 140px;
  order: 0;
  align-self: auto;
}

.search-button {
  padding: 8px 16px;
  min-height: 49px;
  min-width: 96px;
  word-wrap: nowrap;
  background: #000;
  color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  order: 4;
  flex: 0 1 auto;
  align-self: auto;
  height: 30px;
  text-align: center;
}

.new-source {
  padding: 8px 16px;
  min-height: 50px;
  min-width: 96px;
  word-wrap: nowrap;
  background: #000;
  color: #fff;
  border: 2px solid #efe6dd;
  border-radius: 5px;
  order: 4;
  flex: 0 1 auto;
  align-self: auto;
  height: 30px;
  text-align: center;
}

.search {
  flex: 2 1 auto;
}

.date-from {
  flex: 1 1 auto;
}

.date-to {
  flex: 1 1 auto;
}

.cytoscape-graph {
  border: 2px solid #efe6dd;
  border-radius: 0 0 0 10px;
  background-color: #efe6dd;
  height: 480px;
  width: 800px;
  margin-right: 2px;
}

.search-box-align {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.sidebar-align {
  display: flex;
  justify-content: center;
  width: 1100px;
  align-self: center;
}

.sidebar {
  width: 250px;
  height: 480px;
  background-color: #efe6dd;
  border: 2px solid #efe6dd;
  border-radius: 0 0 10px 0;
  padding: 10px;
  margin-left: 2px;
}

.sidebar h2,
p,
h3 {
  color: black;
  word-wrap: break-word;
}

.export {
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-size: 0.8em;
}

.export:hover {
  color: var(--reed-red);
}

.query-error {
  align-self: center;
  background-color: #EED202;
  border-radius: 10px;
  margin-top: 20px;
  padding: 5px;
  color: black;
}

.center-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.go-description {
  overflow: auto;
  text-overflow: ellipsis;
  height: 120px;
  flex-wrap: break-word;
}

select {
  margin-left: 10px;
  margin-right: 10px;
  height: 48px;
  border-radius: 5px;
}

.not-found {
  color: white;
  font-weight: bold;
}

.no-autocomplete {
  color: #999;
  padding: 0px;
}

.autocomplete {
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0px;
  width: 305px;
  margin-left: 0px;
  pointer-events: auto;
}

.k-input {
  width: 48px;
}

.autocomplete-input-container {
  position: relative;
  margin-right: 30px;
  width: 300px;
  display: inline-block;
  flex-wrap: nowrap;
  height: 200px;
  z-index: 2;
  pointer-events: none;
}

.autocomplete-input-container input {
  pointer-events: auto;
}

.autocomplete li {
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.24);
  border: none;
  border-radius: 2px;
}

.autocomplete>.active,
.autocomplete li:hover {
  background-color: rgba(0, 0, 0, 0.24);
  cursor: pointer;
  font-weight: 700;
}

.autocomplete li:not(:last-of-type) {
  border-bottom: 1px solid black;
}

.autocomplete-dropdown {
  position: absolute;
}

.title-guide-container {
  display: flex;
  align-items: center;
}

.guide-button {
  padding: 2.5px;
  margin-left: auto;
  margin-bottom: auto;
  font-size: 15px;
  border: 2px solid white;
  background-color: white;
  cursor: pointer;
  color: #000;
}

.footer {
  margin-top: 20px;
  margin-bottom: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.icon {
  color: white;
  margin-right: 0.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}